.box,#fbox
{
position: absolute;
top:40px;
margin:60px;
padding:40px;
display:flex;
border:1px solid #ddd;
border-radius:5px;
max-width:100%;
height:50%;
}
img
{
width:50%;
height:100%;
}
p
{
width:50%;
text-align:justify;
line-height:30px;
padding-left:30px;
font-family:Arial;
font-size:17px;
}
ul
{
width:50%;
list-style-type:none;
line-height:30px;
}
a
{
text-decoration:none;
font-size:20px;
color:#C94CBE;
}
h1
{
text-align:center;
color:#C94CBE;
}
.b
{
color:white;
background-color:#C94CBE;
padding:15px;
position:absolute;
bottom:50px;
right:60px;
}
#fbox
{
position: absolute;
top:60px;
width:80%;
}
